.drag {
    border: thin solid black;
    border-radius:5px;
    min-width:150px;
    max-width:200px;
    text-align: center;
    padding:0;
    background-color:lightgoldenrodyellow;
    display:inline-block;
}
.drag h2{
    font-size:15px;
    text-align:left;
    margin:5px;
}
.body {
    padding:5px;
}
.headMenu {
    text-align:right;
    padding-right:5px;
    padding-top:2px;
}
.headMenu span{
    cursor:pointer;
}
.drag .headMenu span{
    width:20px;
    height:20px;
    margin-right: 5px;
    display:inline-block;
}
.drag .headMenu span.closeDrag{
    background: url("../images/cross_small.png");
    margin-right: 0;
}
.drag .headMenu span.enlargeDrag{
    background: url("../images/expand-screen-icon.png");
}
.drag .headMenu span.tagDrag{
    background: url("../images/tag-icon.png");
}
.dialog {
    overflow:auto;
}
.dialog .headMenu span.wrapDialog{
    background: url("../images/wrap-icon.png");
    width:20px;
    height:20px;
    margin-right: 5px;
    display:inline-block;
}
#parentDrag {
    border:2px solid grey;
    border-radius:10px;
    width:1000px;
    height:1000px;
}
.actionDrag {
    display:inline-block;
    margin:10px;
}
#subtrAction {}
#subtrAction div{
    display:inline-block;
    margin:10px;
    vertical-align:middle;
}
#addAction {}
.action div{
    display:inline-block;
    margin:10px;
    vertical-align:middle;
}
.smallCont {
    width:100%;
    height:100%;
    display: inline-block;
    position:absolute;
}
.drop {
    background:#123;
    width:200px;
    height:200px;
    border-radius:5px;
}
#generators {
    margin:0;
    width:200px;
    background:darkgreen;
    height: 100%;
    display:inline-block;
}
.CellSize{
    text-align:right;
}
.CellSize span {
    display:inline-block;
    padding:5px;
    border-radius:5px;
    background:lightgreen;
    width:80px;
    height:30px;
    text-align:center;
    margin:5px;
}
.CellSize span.active {
    background:lightblue;
}

.actionButtons {
    margin:10px 0;
    height:30px;
}
.actionButtons > *{
    display: inline-block;
    vertical-align:middle;
    height:25px;
}
.actionButtons img {
    display: inline-block;
    vertical-align:middle;
    height:25px;
}
table .tableSeparator {
    display:none;
}
/*
Эмулируем таблицу
*/
/*.tableCell {
    display:inline-block;
    border:1px solid black;
    text-align:center;
    padding:5px;
    vertical-align: middle;
}*/
/* Чтобы дивы имели одинаковый размер по вертикали. Достаточно сложно добиться.
НЕ АКТУАЛЬНО!
*/
.tableLine{
    height:100px;
}
.tableLine > * {
    height:100%;
}
.tableLine .tableCell {
    height:100%;
}
/* Теперь по идее размеры ячеек одинаковы */
.userLine .fio {
    width:200px;
}
.userLine .tel {
    width:150px;
}
.userLine .email{
    width:100px;
}
.dopData td {
    text-align:right;
}
.dopData td > div {
    display:inline-block;
    border-left:1px solid black;
    padding:3px 5px;
    min-width:100px;
    max-width:150px;
    text-align:left;
}
.little {
    background: #d467a9;
}
.poor {
    background:#d4643b;
}
.half {
    background:#80ff80;
}
.more075 {
    background: #34c924;
}
.space {
    width:101%;
    display:inline-block;
    height:1px;
}
table {
    border-spacing: 0;
    empty-cells: hide;
    border:none;
    max-width:100%;
    overflow: scroll;
}
thead tr {
    border-bottom: 3px solid yellow;
    background: rgba(255, 92, 79, 0.46);
}
thead td {
    border:none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #3D3511;
    font-size: 15px;
    padding:0 10px;
    height:50px;
}
thead tr td.propertyIcon:before {
    content:'Иконки свойств';
    display:inline-block;
}
/* Здесь можно писать стили для ячеек с общей информацией о пользователе */
tr td  {

}
tr td.data {
    min-width:100px;
    text-align:center;
    vertical-align: middle;
    padding: 5px;
}
tr.userLine.selected {
    background: rgba(0, 255, 76, 0.47);
}
tr.userLine:hover {
    background: #ff5030;
}
tr td.data:nth-child(odd){
    background: rgba(87, 121, 255, 0.39);
}
tr td.data:nth-child(even){
    background: rgba(80, 255, 151, 0.39);
}
tr td.data {
    max-width:100px;
}
tr td.propertyIcon img{
    height:25px;
}