.drag {
    border: thin solid black;
    border-radius:5px;
    min-width:150px;
    text-align: center;
    padding:0;
    background-color:lightgoldenrodyellow;
    display:inline-block;
}
.drag h2{
    font-size:15px;
    text-align:left;
    margin:5px;
}
.body {
    padding:5px;
}
.headMenu {
    text-align:right;
    padding-right:5px;
    padding-top:2px;
}
.headMenu span{
    cursor:pointer;
}
.drag .headMenu span.closeDrag{
    background: url("../images/cross_small.png");
    width:20px;
    height:20px;
    display:inline-block;
}
.drag .headMenu span.enlargeDrag{
    background: url("../images/expand-screen-icon.png");
    width:20px;
    height:20px;
    margin-right: 5px;
    display:inline-block;
}
.dialog {
    overflow:auto;
}
.dialog .headMenu span.wrapDialog{
    background: url("../images/wrap-icon.png");
    width:20px;
    height:20px;
    margin-right: 5px;
    display:inline-block;
}
#parentDrag {
    border:2px solid grey;
    border-radius:10px;
    width:1000px;
    height:1000px;
}
.actionDrag {
    display:inline-block;
    margin:10px;
}
#subtrAction {}
#subtrAction div{
    display:inline-block;
    margin:10px;
    vertical-align:middle;
}
.drop {
    background:#123;
    width:200px;
    height:200px;
    border-radius:5px;
}
#generators {
    margin:0;
    width:200px;
    background:darkgreen;
    height: 100%;
    display:inline-block;
}
.CellSize{
    text-align:right;
}
.CellSize span {
    display:inline-block;
    padding:5px;
    border-radius:5px;
    background:lightgreen;
    width:80px;
    height:30px;
    text-align:center;
    margin:5px;
}
.CellSize span.active {
    background:lightblue;
}
table .tableSeparator {
    display:none;
}
/*
Эмулируем таблицу
*/
/*.tableCell {
    display:inline-block;
    border:1px solid black;
    text-align:center;
    padding:5px;
    vertical-align: middle;
}*/
/* Чтобы дивы имели одинаковый размер по вертикали. Достаточно сложно добиться.
НЕ АКТУАЛЬНО!
*/
.tableLine{
    height:100px;
}
.tableLine > * {
    height:100%;
}
.tableLine .tableCell {
    height:100%;
}
/* Теперь по идее размеры ячеек одинаковы */
.userLine .fio {
    width:200px;
}
.userLine .tel {
    width:150px;
}
.userLine .email{
    width:100px;
}
.dopData td {
    text-align:right;
}
.dopData td > div {
    display:inline-block;
    border-left:1px solid black;
    padding:3px 5px;
    min-width:100px;
    max-width:150px;
    text-align:left;
}
